<%- include('../partials/header.ejs') %>

<% let likeCount = {} %>
<% user.likes.forEach(like => likeCount[like.like] = (likeCount[like.like] || 0) + 1) %>
<% if(likeCount['Like'] > 0) { %>
    <% user.likes.forEach(function(like) { %>
        <% if(like.like === 'Like') {%>
        <div class="restaurant">
            <a href='/restaurants/<%=like.restaurant._id%>'><%= like.restaurant.name %></a>
            <form action="/users/<%= user._id %>/likes?_method=DELETE" method="POST">
                <input type="hidden" name="id" value="<%= like._id %>">
                <button type="submit">X</button>
            </form>
        </div>
        <% } %>
    <% }) %>
    
<% } else { %>
    <p>You haven't liked any restaurants!</p><br>
    <a href="/users/<%=user._id%>"><button>Back to My Profile</button></a>
<% } %>

<%- include('../partials/footer.ejs') %>