<%- include('../partials/header.ejs') %>
<button onclick="history.back(-1)">Back</button> <!-- Added a back button here but we can remove it if we decide to not use it-->
<% let likeCount = {} %>
<% user.likes.forEach(like => likeCount[like.like] = (likeCount[like.like] || 0) + 1) %>
<% if(likeCount['Save'] > 0) { %>
    <h3><a href="/users/<%=user._id%>/saved/edit">Edit Saved Restaurants</a></h3>
    <% user.likes.forEach(function(like) { %>
        <% if(like.like === 'Save') {%>
        <div class="restaurant">
            <a href='/restaurants/<%=like.restaurant._id%>/reviews'><%= like.restaurant.name %></a>
        </div>
        <% } %>
        <% }) %>
<% } else { %>
    <p>You haven't saved any restaurants to look at later!</p>
<% } %>
<%- include('../partials/footer.ejs') %>

