<% if (user?._id.equals(user._id)) { %>

<%- include('../partials/header.ejs') %>
<%= user %>
<p>Username: <%= user.username%> </p>
<p>Name: <%= user.name%> </p>
<p>Location: <%= user.zipCode%> </p>
<p>Distance: <%= user.distance%> </p>
<a href="/users/<%= user._id %>/edit"><button>Edit</button></a>
<form action="/users/<%= user._id %>?_method=DELETE" method="POST">
    <button type="submit">DELETE</button>
</form>


<% } else { %>
    <p>User cannot access this page</p>
    <% } %>