<%- include('../partials/header.ejs') %>
<!-- restaurant details -->
<section>
	<img src="<%= restaurant.image_url %>" alt="<%= restaurant.name %>" />
</section>
<section class="flex-space-between">
	<div>
		<h2><%=restaurant.name%></h2>
		<p>
			<%restaurant.categories.forEach(category => {%> <%=category.title%> <%})%>
		</p>
		<p><%=restaurant.price%></p>
	</div>
	<div>
		<p><%=restaurant.location.city%>, <%=restaurant.location.zip_code%></p>
		<p><a href="tel:<%=restaurant.phone%>">Phone</a></p>
		<p><a href="<%=restaurant.url%>">Yelp page</a></p>
	</div>
</section>
<!-- actions -->
<section class="flex-space-between">
	<div>
		<form action="/users/<%=restaurant._id%>/dislikes" method="POST">
		<button value="<%restaurant.id%>">dislike</button>
		</form>
	</div>
	<div>
		<form action="/users/<%= restaurant._id%>/saved" method="POST">
		<button>save for later</button>
		</form>
	</div>
	<div>
		<form action="/users/<%=restaurant._id%>/likes" method="POST">
		<button value="Like">like</button>
		</form>
	</div>
</section>
<%- include('../partials/footer.ejs') %>
