<%- include('../partials/header.ejs') %>

<form action="/users/<%=user._id%>?_method=PUT" method="POST">
    <label for="username">Username: <input type="text" name="username" placeholder="enter username" value="<%=user.username%>"></label><br/>
    <label for="name">Name: <input type="text" name="name" placeholder="enter name" value="<%=user.name%>"></label><br/>
    <label for="zipCode">Zip Code: <input type="number" name="zipCode" placeholder="enter zip code" value="<%=user.zipCode%>"></label><br/>
    <label for="distance">
        <select name="distance">
            <option value="<%=user.distance%>" selected><%=user.disance%></option>
            <option value="10">10 mi</option>
            <option value="15">15 mi</option>
            <option value="20">20 mi</option>
            <!-- yelp api distance maxes out at 24.8548477miles/40000meters  -->
            <option value="24.8548477">25 mi</option> 
        </select>
    </label>
    <button type="submit">SAVE</button>
    <a href="/users/<%= user._id %>"><button>Cancel</button></a>

<%- include('../partials/footer.ejs') %>