<%- include('../partials/header.ejs') %>
<% let likeCount = {} %>
<% user.likes.forEach(like => likeCount[like.like] = (likeCount[like.like] || 0) + 1) %>
<% if(likeCount['Like'] > 0) { %>
    <% user.likes.forEach(function(like) { %>
        <% if(like.like === 'Like') {%>
        <div class="restaurant">
            <a href='/restaurants/<%=like.restaurant._id%>/reviews'><%= like.restaurant.name %></a>
        </div>
        <% } %>
    <% }) %>
    <div class="main-buttons">
        <button style="width: 12rem;" onclick="history.back(-1)">Back</button> 
        <a href="/users/<%=user._id%>/likes/edit"><button style="width: 12rem;">Edit Liked Restaurants</button></a>
    </div>
<% } else { %>
    <p>You haven't liked any restaurants yet!</p>
<% } %>
<%- include('../partials/footer.ejs') %>