<%- include('../partials/header.ejs') %>
<button onclick="history.back(-1)">Back</button> <!-- Added a back button here but we can remove it if we decide to not use it-->
<% let likeCount = {} %>
<% user.likes.forEach(like => likeCount[like.like] = (likeCount[like.like] || 0) + 1) %>
<% if(likeCount['Like'] > 0) { %>
    <% user.likes.forEach(function(like) { %>
        <% if(like.like === 'Like') {%>
        <div class="restaurant">
            <a href='/restaurants/<%=like.restaurant._id%>/reviews'><%= like.restaurant.name %></a>
        </div>
        <% } %>
    <% }) %>
    <h3><a href="/users/<%=user._id%>/likes/edit">Edit Liked Restaurants</a></h3>
<% } else { %>
    <p>You haven't liked any restaurants yet!</p>
<% } %>
<%- include('../partials/footer.ejs') %>