<%- include('../partials/header.ejs') %>

	<form action="/users/<%= user._id %>/filters?_method=PUT" method="POST">
		<fieldset>
			<legend>I have</legend>
			<input type="radio" id="$" name="price" value="1" />
			<label for="">$</label>
			<input type="radio" id="$$" name="price" value="2" />
			<label for="$$">$$</label>
			<input type="radio" id="$$$" name="price" value="3" />
			<label for="$$$">$$$</label>
			<input type="radio" id="$$$$" name="price" value="4" />
			<label for="$$$$">$$$$</label>
		</fieldset>
		<fieldset>
			<legend>And I want</legend>
			<label class="hidden" for="category">Categories</label>
			<div class="categories">
				<%categories.forEach(category => {%>
				<div>
					<input type="checkbox" name="categories" value="<%= category %>"><%= category %>
				</div>
				<% }) %>
			</div>
			</select>
		</fieldset>
		<button type="submit">Start</button>
	</form>

<%- include('../partials/footer.ejs') %>
