<%- include('../partials/header.ejs') %>

<!-- restaurant details -->
<button onclick="history.back(-1)">Back</button>
<section>
	<img src="<%= restaurant.image_url %>" alt="<%= restaurant.name %>" />
</section>
<section class="flex-space-between">
	<div>
		<h2><%=restaurant.name%></h2>
		<p>
			<%restaurant.categories.forEach(category => {%> <%=category.title%> <%})%>
		</p>
		<p><%=restaurant.price%></p>
	</div>
	<div>
		<p><%=restaurant.location.city%>, <%=restaurant.location.zip_code%></p>
		<p><a href="tel:<%=restaurant.phone%>">Phone</a></p>
		<p><a href="<%=restaurant.url%>">Yelp page</a></p>
	</div>
</section>

<h2>Add a Review</h2>
<form method="POST" action="/restaurants/<%=restaurant._id%>/reviews"> 
    <div>
        <label for="text" placeholder="Add your review here (optional)">Review</label><br/>
        <textarea name="comment"></textarea>
    </div>
    <div class="rating">
        <button class="rating__star" name="rating" value="5">☆</button>
        <button class="rating__star" name="rating" value="4">☆</button>
        <button class="rating__star" name="rating" value="3">☆</button>
        <button class="rating__star" name="rating" value="2">☆</button>
        <button class="rating__star" name="rating" value="1">☆</button>
    </div>    
</form>

<section>
    <div>
        <h3>Reviews</h3>
        <% if(restaurant.reviews.length === 0) { %>
            <p>No reviews yet!</p>
        <% } else { %>
        <% restaurant.reviews.forEach(review => { %>
            <div>
                <p><%= review.comment %></p>
                <p><%= review.rating %>★</p>
                <p><%= review.createdAt%></p>
                <p><%= review.user.username%></p>
                <img src="<%=review.user.avatar %>"/>
            </div>
        <% }) %>
        <% } %>
    </div>
</section>

<%- include('../partials/footer.ejs') %>