<%- include('../partials/header.ejs') %>

<!-- restaurant details -->
<button onclick="history.back(-1)">Back</button>
<section>
	<img src="<%= restaurant.image_url %>" alt="<%= restaurant.name %>" />
</section>
<section class="flex-space-between">
	<div>
		<h2><%=restaurant.name%></h2>
		<p>
			<%restaurant.categories.forEach(category => {%> <%=category.title%> <%})%>
		</p>
		<p><%=restaurant.price%></p>
	</div>
	<div>
		<p><%=restaurant.location.city%>, <%=restaurant.location.zip_code%></p>
		<p><a href="tel:<%=restaurant.phone%>">Phone</a></p>
		<p><a href="<%=restaurant.url%>">Yelp page</a></p>
	</div>
</section>

<h2>Add a Review</h2>
<form method="POST" action="/restaurants/<%=restaurant._id%>/reviews"> 
    <div>
        <label for="text">Review</label>
        <textarea name="comment"></textarea>
        <select name="rating">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5" selected>5</option>
        </select>
    </div>
    <input type="submit" value="Add Review">
</form>

<section>
    <div>
        <h3>Reviews</h3>
        <% if(restaurant.reviews.length === 0) { %>
            <p>No reviews yet!</p>
        <% } else { %>
        <% restaurant.reviews.forEach(review => { %>
            <div>
                <p><%= review.comment %></p>
                <p><%= review.rating %></p>
            </div>
        <% }) %>
        <% } %>
    </div>
</section>

<%- include('../partials/footer.ejs') %>